* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  /* width: 100%; */
  /* height: 100%; */
}

body {
  display: flex;
  width: 393px;
  /* width: 100%; */
  height: 852px;
  /* height: 100%; */
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  overflow: scroll;
}

#fr1 {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  background: var(
    --Body-fill,
    linear-gradient(
      180deg,
      rgba(223, 220, 253, 0.32) 7.81%,
      rgba(154, 145, 255, 0.8) 100%
    )
  );
}
/* IDs */

#rann {
  display: flex;
  padding: 5px 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  background: var(
    --headeer-fill,
    linear-gradient(180deg, rgba(255, 138, 0, 0.54) 0%, #ff8a00 100%)
  );
}
#rann2 {
  display: flex;
  padding: 5px 50px;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
#rann3 {
  display: flex;
  padding: 5px 50px;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

#frind-logo-con img {
  border-radius: 10px;
}

#fr23 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#trann {
  color: var(--rann-color, #343434);
  font-family: Lora;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.2px;
}

#trannd {
  color: var(--rann-t-color, #605e5e);
  font-family: Lora;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.24px;
}

#fr19 {
  display: flex;
  padding: 8px 12px;
  align-items: flex-end;
  gap: 24px;
  border-radius: 10px;
  border: 1px solid #ffca8c;
  background: linear-gradient(180deg, rgba(20, 0, 255, 0.15) 0%, #1400ff 100%);
  box-shadow: 0px 5px 8px 0px #4b4b4b;
}

/* ///////////////// */
#frnames {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  transition: 1s;
}
#frnumbers {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  transition: 1s;
}
#frdice {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  transition: 1s;
}

#fr32 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px;
}
#fr239 {
  display: flex;
  padding: 47px 0px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 0;
}
#fr339 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  align-self: stretch;
}

#fr64 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 46px;
  align-self: stretch;
}

#fr30 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

#text-num-bet {
  color: #343434;
  font-family: Lora;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.64px;
}

#fr63 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.fr63b {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

#number {
  display: flex;
  padding: 0px 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 90px;
  border: 15px solid #f2f1fe;
  background: linear-gradient(
    180deg,
    rgba(154, 145, 255, 0) 20.83%,
    #9a91ff 100%
  );
}

#new-number {
  color: #fff;
  font-family: Merienda;
  font-size: 128px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.56px;
}

#max {
  margin: 0 0 0 5px;
}
#dice1 {
  border-radius: 20px;
  border: solid 4px rgb(107, 37, 37);
}

#dice {
  text-align: center;
  margin-top: 50px;
}

#footer {
  display: flex;
  padding: 21px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-top: 10px solid #cecece;
  background: #fff0df;
}

#ft-text {
  color: #898989;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}
/* Buttons */
#reset {
  text-align: center;
}

#btnreset {
  display: flex;
  padding: 6px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid #9a91ff;
  background: linear-gradient(180deg, #dfdcfd 23.44%, #9a91ff 100%);
  color: #343434;
  font-family: Lora;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
  box-shadow: 1px 1px 2px 1px #4b4b4b;
}

.btnrerolls-num-act {
  display: flex;
  padding: 6px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: var(
    --btn-active-fill,
    linear-gradient(180deg, #ffca8c 0%, #ff8a00 100%)
  );
  box-shadow: 0px 0px 5px 1px #4b4b4b;
  border: none;
  color: #4b4b4b;
  font-family: Lora;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
}
.btnrerolls-num-non-act {
  display: flex;
  padding: 6px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid #9a91ff;
  background: linear-gradient(180deg, #dfdcfd 23.44%, #9a91ff 100%);
  color: #343434;
  font-family: Lora;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
  box-shadow: 1px 1px 2px 1px #4b4b4b;
}
#btnprevent-rerolls-names {
  /* transition: 200ms; */
}
#btnprevent-rerolls {
  /* transition: 200ms; */
}

#h1btn {
  text-align: center;
}

#btnnew-number {
  transition: 200ms;
  display: flex;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid #1400ff;
  background: linear-gradient(
    0deg,
    #1400ff -0.59%,
    rgba(20, 0, 255, 0.32) 99.41%
  );
  box-shadow: 2px 5px 5px 1px #000;
}

#tbtn-new-number {
  color: #fff;
  font-family: Lora;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.64px;
}

#btnnames {
  display: flex;
  padding: 8px 12px;
  align-items: flex-end;
  gap: 24px;
}

#tnames {
  font-family: Lora;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.32px;
}

#btnnumbers {
  display: flex;
  padding: 8px 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#tnumbers {
  font-family: Lora;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.32px;
}

#btndice {
  display: flex;
  padding: 8px 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#tdice {
  font-family: Lora;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.32px;
}

/* CLASSES */

.hidden {
  opacity: 0;
}

.miax {
  color: #333;
  font-size: 30px;
  padding: 0px;
  text-align: center;
}

.number-between {
  display: flex;
  width: 105px;
  height: 57px;
  padding-left: 10px;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #ffca8c;
  background: linear-gradient(
    180deg,
    rgba(255, 202, 140, 0) 0%,
    #ffca8c 58.85%
  );
  flex: 1 0 0;
  color: var(--rann-color, #343434);
  font-family: Lora;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.64px;
}

/* names start here */
#fr238 {
  display: inline;
  padding: 12px 52px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#fr234 {
  display: flex;
  padding: 12px 52px;
  margin-bottom: 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 50px;
  border: 15px solid #f2f1fe;
  background: linear-gradient(
    180deg,
    rgba(20, 0, 255, 0.79) 0%,
    #9a91ff 53.65%,
    rgba(20, 0, 255, 0.78) 100%
  );
  /* rotate: 23deg; */
}

#update-name {
  color: #fff;
  font-family: Adamina;
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 5.04px;
}

#fr248 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  align-self: stretch;
}

#fr246 {
  display: flex;
  padding: 6px 12px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  border-radius: 10px;
  border: 1px solid #fff0df;
  background: linear-gradient(
    180deg,
    rgba(255, 240, 223, 0) 0%,
    rgba(255, 240, 223, 0.55) 91.67%,
    #fff0df 100%
  );
}

#tfr246 {
  color: #343434;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.32px;
}

#fr247 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.fr219-45 {
  /* buttons */
  display: flex;
  padding: 4px 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid #cecece;
  background: linear-gradient(
    180deg,
    rgba(255, 240, 223, 0) 0%,
    rgba(255, 240, 223, 0.42) 41.67%,
    #fff0df 100%
  );

  /* description */
  color: #605e5e;
  font-family: Lora;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  box-shadow: 0px 1px 2px 1px #4b4b4b;
}

#fr235 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  align-self: stretch;
}

#text-input-name {
  color: var(--rann-color, #343434);
  font-family: Lora;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
}

#fr236 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

#names {
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  border-radius: 10px;
  background: linear-gradient(180deg, #fff0df 0%, #ffca8c 59.37%);

  /* content */

  text-align: center;
  font-family: Lora;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
  transition: 300ms;
}

.yes-names {
  font-size: 24px;
  padding: 8px;
  border: 1px solid #ffca8c;
  color: var(--rann-color, #343434);
}

.no-names {
  font-size: 16px;
  padding: 16px;
  color: red;
  border: 3px solid red;
}

#text-seperate-names {
  color: #605e5e;
  font-family: Lora;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.24px;
}
#tprevent-rerolls-disp {
  color: #605e5e;
  font-family: Lora;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.4px;
}

#btnnew-name {
  transition: 200ms;
  display: flex;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid #1400ff;
  background: linear-gradient(
    0deg,
    #1400ff -0.59%,
    rgba(20, 0, 255, 0.32) 99.41%
  );
  box-shadow: 2px 5px 5px 1px #000;

  color: #fff;
  font-family: Lora;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.64px;
}

#fr361 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

#fr360 {
  display: flex;
  padding: 4px 8px;
  justify-content: center;
  align-items: center;
  gap: 32px;
  border-radius: 12px;
  border: 1px solid #ff8a00;
  background: linear-gradient(
    180deg,
    #ff8a00 0%,
    #ffca8c 35.94%,
    #ffca8c 49.48%,
    #ffca8c 63.02%,
    #ff8a00 100%
  );
}

#tfr360sum {
  color: #fff;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 3.84px;
}

#tfr360num {
  color: #fff;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 3.84px;
}

#fr362 {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  /* text-align: center; */
  gap: 8px;
  margin: 32px;
}

#tfr362 {
  color: #605e5e;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.28px;
}

#fr351 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#fr349 {
  min-height: 100px;
  min-width: 225px;
  display: inline;
  padding: 12px 16px;
  text-align: center;
  /* justify-content: center; */
  /* align-items: center; */
  gap: 32px;
  border-radius: 10px 10px 0px 0px;
  border: 2px solid #ffca8c;
  background: linear-gradient(
    180deg,
    rgba(255, 202, 140, 0.15) 0%,
    #ffca8c 100%
  );
}

#btnthrow-dice {
  display: flex;
  padding: 6px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 0px 0px 10px 10px;
  border: 1px solid #ff8a00;
  background: linear-gradient(
    180deg,
    rgba(255, 138, 0, 0.65) 0%,
    #ff8a00 47.92%,
    rgba(255, 138, 0, 0.76) 100%
  );
  box-shadow: 0px 5px 8px 0px #4b4b4b;

  color: #fff;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 5.76px;
}

#fr359 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  align-self: stretch;
}
#fr3592 {
  /* display: flex; */
  /* flex-direction: column; */
  align-items: center;
  /* align-items: flex-start; */
  /* text-align: center; */
  /* gap: 12px; */
}

#tfr359 {
  color: #605e5e;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.92px;
}

#fr352 {
  display: flex;
  padding: 12px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 10px;
  border: 1px solid #fff0df;
  background: linear-gradient(
    180deg,
    rgba(255, 240, 223, 0.32) 0%,
    #fff0df 100%
  );
}

#tfr359add {
  color: #605e5e;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.28px;
}

.imgdice-use {
  margin: 12px;
  height: 120px;
  border-radius: 25px;
  box-shadow: 5px 5px 5px 1px #4b4b4b;
}
.imgdice-not-use {
  height: 50px;
  border-radius: 15px;
  box-shadow: 5px 5px 3px 1px #4b4b4b;
}

/* classes active/nonactive */
.btnactive {
  padding: 6px 16px;
  border-radius: 10px;
  border-radius: 10px;
  background: var(
    --btn-active-fill,
    linear-gradient(180deg, #ffca8c 0%, #ff8a00 100%)
  );
  box-shadow: 0px 0px 5px 1px #4b4b4b;
  border: none;
  color: #4b4b4b;
  /* color: #fff; */
  transition: 200ms;
}
.btnnonactive {
  padding: 8px 20px;
  border-radius: 10px;
  background: var(
    --btn-active-fill,
    linear-gradient(180deg, #ffca8c 0%, #ff8a00 100%)
  );
  border: none;
  color: #fff;
  transform: translateY(4px);
  transition: 800ms;
}

#fr470 {
  display: inline-flex;
  position: absolute;
  top: -550px;
  padding: 120px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: 4px solid #9a91ff;
  background: linear-gradient(180deg, #dfdcfd 0%, #9a91ff 100%);
  transition: 2s;
}

#fr470wel {
  color: #ff8a00;
  font-family: Inter;
  font-size: 128px;
  font-style: italic;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 12.8px;
}

#fr470mot {
  color: #ff8a00;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.8px;
}

#fr569 {
  display: inline-flex;
  position: absolute;
  top: -460px;
  right: 11.8%;
  padding: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 10px;
  border: 1px solid #ffca8c;
  background: linear-gradient(180deg, #ffca8c 80%, rgba(255, 202, 140, 0) 100%);
  transition: 2s;
}

#tfr569 {
  color: var(--rann-color, #343434);
  font-family: Lora;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 3.2px;
}

#fr568 {
  display: flex;
  width: 449px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.fr5con {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
}

.fr5lab {
  color: var(--rann-t-color, #605e5e);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2.4px;
}

.fr5des {
  align-self: stretch;
  color: #605e5e;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.6px;
}

#btngot-it {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 10px;
  border: 1px solid #4b4b4b;
  background: #4b4b4b;
  color: var(--rann-color, #ffffff);
  font-family: Lora;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.64px;
  box-shadow: 0px 3px 4px 0px #4b4b4b;
}

#arrow {
  padding: 3px;
  box-shadow: 0px 3px 5px 0px #4b4b4b;
  /* transition: 300ms; */
  /* transform: translateX(30px); */
}

.check-rerols {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.checkbox {
  display: inline;
}
